<footer class="footer">
  <div class="wrapper footer-wrapper">
    <div class="footer-item">
      <a href="https://www.linkedin.com/in/rileyjsumner" rel="noopener" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </div>
    <div class="footer-item">
      <a href="https://www.github.com/rileyjsumner" rel="noopener" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </div>
    <div class="footer-item">
      <a href="https://www.stackoverflow.com/users/10166162/rileyjsumner" rel="noopener" target="_blank">
        <fa-icon [icon]="faStackOverflow"></fa-icon>
      </a>
    </div>
    <div class="footer-item">
      <a href="https://www.instagram.com/rileyjsumner" rel="noopener" target="_blank">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </div>
    <div class="footer-item">
      <a href="https://www.twitter.com/rileyjsumner" rel="noopener" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </div>
    <div class="footer-item">
      <a href="https://www.facebook.com/riley.sumner.376" rel="noopener" target="_blank">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
    </div>
  </div>

</footer>
