<div class="card-title">
  <a class="no-decoration" rel="noopener" target="_blank" href="{{exp.url}}"><h3 class="title">{{exp.title}}</h3></a>
  <div class="skills">
    <app-tag [tag]="skill" *ngFor="let skill of exp.lang"></app-tag>
  </div>
  <p class="description">{{exp.desc}}</p>
</div>
<div class="card-details">
  <a class="no-decoration" rel="noopener" target="_blank" href="{{exp.url}}"><h4 class="affiliation">{{exp.affiliation}}</h4></a>
  <p class="time">{{exp.start}} - {{exp.end}}</p>
  <div class="location">
    <img src="assets/images/location.svg" alt="location"/>
    <p>{{exp.location}}</p>
  </div>
</div>
