<div class="wrapper">
  <div class="wrapper-content">
    <h3>About Me</h3>
    <p>I am a full-stack developer currently attending the University of Wisconsin&ndash;Madison. I major in Computer Science and Journalism with an emphasis on Reporting. I graduated from Anoka Senior High School in 2018.</p>
    <p>I currently work as a Web Developer for both <a href="https://udisc.com">UDisc</a> and the <a href="https://hr.wisc.edu">UW&ndash;Madison Office of Human Resources</a>. My primary experience has been in JavaScript frameworks such as VueJS, ReactJS and AngularJS. I also work with Java for backend applications.</p>
    <h4>Leadership</h4>
    <ul>
      <li *ngFor="let role of leadership">{{role.title}} &mdash; {{role.organization}}, {{role.affiliation}}</li>
    </ul>
    <h4>Achievements</h4>
    <ul>
      <li *ngFor="let award of achievements">{{award.place}} &mdash; {{award.title}}, {{award.organization}}</li>
    </ul>
    <h4>Resume</h4>
    <p>Click around my website to learn more about me!</p>
    <p>Want a PDF version of my Resume? <a href="../../../assets/docs/RileySumnerCV.pdf">Click here!</a></p>
  </div>
</div>
