<div class="wrapper">
  <div class="project-list">
    <div class="project" *ngFor="let exp of project">
      <div class="project-title">
        <h3 class="title">{{exp.title}}</h3>
        <div class="skills">
          <p class="tag" *ngFor="let skill of exp.lang">
            {{skill}}
          </p>
        </div>
        <p class="description">{{exp.desc}}</p>
      </div>
      <div class="project-details">
        <h4 class="company">{{exp.affiliation}}</h4>
        <p class="time">{{exp.start}} - {{exp.end}}</p>
        <div class="location">
          <img src="assets/images/location.svg" alt="location"/>
          <p>{{exp.location}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
