.graphics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.graphic.portrait {
  width: 30%;
}

.graphic.landscape {
  width: 45%;
}

.graphic img {
  width: 100%;
  height: auto;
}
