.skills-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.skill {
  width: 45%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.skill p {
  width: 30%;
}

table.rank {
  width: 65%;
  margin-top: .25rem;
}

.rank .level {
  width: 100%;
}

.level td {
  background-color: #04395e;
  height: .8rem;
  border-radius: 0.25rem .5rem .5rem 0.25rem;
  border-right: 1px solid #effeff;
}

.rank .marker {
  width: 100%;
}
.marker td {
  height: 0.1rem;
  text-align: center;
  margin: 0 auto;
  width: 20%;
}

