.content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  z-index: 0;
}
.intro {
  width: 100%;
  margin: 2.75rem auto 0 auto;
  border-bottom: 4px solid #160f29;
}

.intro h1,
.intro h2 {
  margin: .75rem 0;
}
.profile-image {
  background-image: url("src/assets/images/riley_sumner.jpg");
  height: 250px;
  width: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #160F29;
}

.wrapper {
  position: relative;
  top: 10px;
}
@media(min-width: 600px) {
  .intro {
    width: 95%;
  }
}

@media(min-width: 900px) {
  .intro {
    width: 85%;
  }
}

@media(min-width: 1286px) {
  .intro {
    width: 70%;
  }
}
