/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;600;800&display=swap');

/* CSS HEX */
/* --teal: #0a8483; ACCENT
   --dark-purple: #160f29; TEXT
   --dutch-white: #d4cdab; BACKGROUND
   --deep-taupe: #795c5ff;
   --pale-spring-bud: #dce2bd;
   --oxford-blue: #031d44;
   --indigo-dye: #04395e;
   */

body {
  margin: 0;
  background-color: #d4cdab;
}

h1 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  color: #160F29;
  margin: 0.5rem 0;
}

h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  color: #0a8483;
  margin: 0.5rem 0;
}

h3 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #160F29;
  margin: 0.5rem 0;
}

h4 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #0a8483;
  margin: 0.5rem 0;
}

p, li,
button, span,
div, label,
input, textarea {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  color: #160F29;
  margin: 0.25rem 0;
}
a {
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  color: #160F29;
  transition: color .25s ease-in-out;
}
a.no-decoration {
  text-decoration: none;
}
a:hover {
  color: #0a8483;
}
button {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  color: #effeff;
  background-color: #0a8483;
  border-radius: .5rem;
  padding: .5rem .75rem;
  border: 0;
  transition: background-color .25s ease-in-out,
              transform .25s ease-in-out;
}
button:hover {
  background-color: #160F29;
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.wrapper {
  width: 90%;
  margin: 1rem auto;
}

.wrapper-content {
  text-align: left;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.card {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.shadow {
  box-shadow: 4px 4px 0 0 #0a8483;
  transition: box-shadow .25s ease-in-out,
              transform .25s ease-in-out;
}
.shadow:hover {
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px 0 0 #0a8483;
}
@media(min-width: 600px) {

}

@media(min-width: 900px) {
  h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
  }

  h2 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }

  h3 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }

  h4 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  .wrapper {
    width: 70%;
    margin: 2rem auto;
  }
  .card {
    flex-wrap: nowrap;
  }
}

@media(min-width: 1286px) {

}
