.graphics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.graphic {
  background-color: #ffe;
  padding: .5rem;
  margin: .5rem 0;
  width: 100%;
}

.graphic img {
  width: 100%;
  height: auto;
}

@media(min-width: 600px) {
  .graphic {
    width: 45%;
  }
}

@media(min-width: 900px) {
  .graphic.portrait {
    width: 30%;
  }

  .graphic.landscape {
    width: 45%;
  }
}

@media(min-width: 1286px) {

}
