<div class="wrapper">
  <div class="about-me">
    <h3>About Me</h3>
    <p>I am a full-stack developer currently attending the University of Wisconsin&ndash;Madison. I'm majoring in Computer Science and Journalism with an emphasis on Reporting. I graduated from Anoka Senior High School in 2018.</p>
    <p>I currently work as a Web Developer for both <a href="https://udisc.com">UDisc</a> and the <a href="https://hr.wisc.edu">UW&ndash;Madison Office of Human Resources</a>. My primary focus is in JavaScript frameworks such as VueJS, ReactJS and AngularJS. I also work with Java for backend applications.</p>
    <h4>Leadership</h4>
    <ul>
      <li>Opinion Desk Editor &mdash; Daily Cardinal, UW-Madison</li>
      <li>Editor &mdash; Bell Magazine, UW-Madison</li>
      <li>State Executive Vice President &mdash; MN BPA, Anoka High School</li>
      <li>Captain &mdash; Speech Team, Anoka High School</li>
      <li>Captain &mdash; Cross Country Team, Anoka High School</li>
    </ul>
    <h4>Achievements</h4>
    <ul>
      <li>2nd & 3rd Place &mdash; Web Application Team, BPA Nationals</li>
    </ul>
  </div>
</div>
